/* Pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.css");
/* @import "tailwindcss"; */

:root {
  /* 색상 */
  --bg: #f4f4f6;
  --bg-gray: #f4f4f6;
  --surface: #fff;

  --text: #18181c;
  --sub-text: #8a8a93;

  --border: #a5a5a8;
  --border-light: #e7e7ec;
  --code-bg: #f4f3ec;

  --accent: #4b3fe0;
  --accent-bg: #4b3fe0;
  --accent-deep: #241d74;
  --accent-tint: #ecebfc;

  --signal: #ef3b4e;
  --signal-tint: #fdeaec;

  /* Disabled */
  --disabled-bg: #f1f1f3;
  --disabled-border: #d9d9de;

  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  /* 폰트 */
  --font-pretendard:
    "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neprtendardue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;
  /* --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  */

  /* 폰트 사이즈 */
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-2xl: 24px;
  --fs-3xl: 28px;
  --fs-4xl: 30px;

  /* 폰트 굵기 */
  --fw-bl: 900;
  --fw-b: 700;
  --fw-m: 500;
  --fw-r: 400;

  /* 간격 */
  --s1: 4px;
  --s2: 8px;
  --s3: 12px;
  --s4: 16px;
  --s5: 20px;
  --s6: 24px;
  --s7: 32px;
  --s8: 40px;

  /* 라운드 */
  --r-sm: 10px;
  --r-md: 14px;
  --r-lg: 18px;
  --r-xl: 24px;
  --r-2xl: 30px;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-size: var(--fs-sm);
  font-family: var(--font-pretendard);
  -webkit-font-smoothing: antialiased;
}

/* 
- 모바일 (Mobile): 480px 이하 (소형 스마트폰은 375px~480px 구간 대응)
- 태블릿 (Tablet): 481px ~ 1024px (세로 및 가로 방향 포함)
- 데스크톱 (Desktop): 1025px 이상 (일반 PC 및 노트북) 
*/

/* #root {
} */
